# Deliverable 3:  Optimizing the model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Looking at the shape of our dataset
application_df.shape

(34299, 12)

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Looking at values in the status column
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [6]:
# Looking at values in the application_type column
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Dropping just status column to see if model performance improves
application_df = application_df.drop(columns='STATUS', axis=1)

In [8]:
# Dropping ask_amt column to see if model performance improves
application_df = application_df.drop(columns='ASK_AMT', axis=1)

In [9]:
# Binning the classification column

# Assiging value counts to variable
#classification_counts = application_df['CLASSIFICATION'].value_counts()

# Determine which values to replace if counts are less than ..?
#replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
#for cls in replace_class:
#    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
#application_df.CLASSIFICATION.value_counts()

In [10]:
# Binning the application_type column

# Assigning value counts to variable
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Determine which values to replace if counts are less than ...?
replace_application = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df= application_df.drop(application_cat, axis=1)
application_df.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns='IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
# Increasing neurons in second hidden layer to try to increase model performance
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 70

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Dropping third hidden layer to see if model performance improves
# Adding third hidden layer to try to increase model performance
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model

nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               10700
_________________________________________________________________
dense_1 (Dense)              (None, 80)                8080
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 81
=================================================================
Total params: 18,861
Trainable params: 18,861
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Creating the direction and defining the filepath for the checkpoints
os.makedirs('optimization_checkpoints/', exist_ok=True)
checkpoint_path = 'optimization_checkpoints/optimization_weights.{epoch:02d}.hdf5'

# Creating a call back that saves the model weights after every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    # Adapting code to save after each 5 epochs, from here:  https://stackoverflow.com/questions/59069058/save-model-every-10-epochs-tensorflow-keras-v2
    # Above resolved issue where save_freq=5 was creating multiple checkpoints per epoch
    save_freq='epoch',
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 614us/step - loss: 0.5746 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 0s 589us/step - loss: 0.5560 - accuracy: 0.7275
Epoch 3/100
804/804 [==============================] - 0s 578us/step - loss: 0.5526 - accuracy: 0.7294
Epoch 4/100
804/804 [==============================] - 0s 577us/step - loss: 0.5506 - accuracy: 0.7296
Epoch 5/100
804/804 [==============================] - 0s 578us/step - loss: 0.5489 - accuracy: 0.7321

Epoch 00005: saving model to optimization_checkpoints\optimization_weights.05.hdf5
Epoch 6/100
804/804 [==============================] - 0s 578us/step - loss: 0.5476 - accuracy: 0.7305
Epoch 7/100
804/804 [==============================] - 0s 573us/step - loss: 0.5461 - accuracy: 0.7323
Epoch 8/100
804/804 [==============================] - 0s 574us/step - loss: 0.5457 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 0s 573us/step - loss: 0.5450 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 0s 579us/step - loss: 0.5440 - accuracy: 0.7339

Epoch 00010: saving model to optimization_checkpoints\optimization_weights.10.hdf5
Epoch 11/100
804/804 [==============================] - 0s 574us/step - loss: 0.5430 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 0s 613us/step - loss: 0.5429 - accuracy: 0.7337
Epoch 13/100
804/804 [==============================] - 0s 574us/step - loss: 0.5423 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 0s 570us/step - loss: 0.5418 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 0s 612us/step - loss: 0.5416 - accuracy: 0.7353

Epoch 00015: saving model to optimization_checkpoints\optimization_weights.15.hdf5
Epoch 16/100
804/804 [==============================] - 0s 577us/step - loss: 0.5403 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 0s 582us/step - loss: 0.5398 - accuracy: 0.7369
Epoch 18/100
804/804 [==============================] - 0s 570us/step - loss: 0.5399 - accuracy: 0.7361
Epoch 19/100
804/804 [==============================] - 0s 573us/step - loss: 0.5390 - accuracy: 0.7361
Epoch 20/100
804/804 [==============================] - 0s 575us/step - loss: 0.5387 - accuracy: 0.7362

Epoch 00020: saving model to optimization_checkpoints\optimization_weights.20.hdf5
Epoch 21/100
804/804 [==============================] - 0s 610us/step - loss: 0.5383 - accuracy: 0.7376
Epoch 22/100
804/804 [==============================] - 0s 604us/step - loss: 0.5381 - accuracy: 0.7383
Epoch 23/100
804/804 [==============================] - 1s 640us/step - loss: 0.5376 - accuracy: 0.7380
Epoch 24/100
804/804 [==============================] - 0s 598us/step - loss: 0.5367 - accuracy: 0.7379
Epoch 25/100
804/804 [==============================] - 0s 581us/step - loss: 0.5367 - accuracy: 0.7389

Epoch 00025: saving model to optimization_checkpoints\optimization_weights.25.hdf5
Epoch 26/100
804/804 [==============================] - 0s 580us/step - loss: 0.5369 - accuracy: 0.7390
Epoch 27/100
804/804 [==============================] - 0s 594us/step - loss: 0.5366 - accuracy: 0.7389
Epoch 28/100
804/804 [==============================] - 0s 595us/step - loss: 0.5364 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 0s 607us/step - loss: 0.5357 - accuracy: 0.7382
Epoch 30/100
804/804 [==============================] - 0s 578us/step - loss: 0.5360 - accuracy: 0.7382

Epoch 00030: saving model to optimization_checkpoints\optimization_weights.30.hdf5
Epoch 31/100
804/804 [==============================] - 0s 582us/step - loss: 0.5354 - accuracy: 0.7391
Epoch 32/100
804/804 [==============================] - 0s 577us/step - loss: 0.5355 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 0s 572us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 34/100
804/804 [==============================] - 0s 575us/step - loss: 0.5353 - accuracy: 0.7401
Epoch 35/100
804/804 [==============================] - 0s 577us/step - loss: 0.5353 - accuracy: 0.7397

Epoch 00035: saving model to optimization_checkpoints\optimization_weights.35.hdf5
Epoch 36/100
804/804 [==============================] - 0s 577us/step - loss: 0.5340 - accuracy: 0.7395
Epoch 37/100
804/804 [==============================] - 0s 610us/step - loss: 0.5349 - accuracy: 0.7391
Epoch 38/100
804/804 [==============================] - 0s 579us/step - loss: 0.5341 - accuracy: 0.7393
Epoch 39/100
804/804 [==============================] - 0s 574us/step - loss: 0.5350 - accuracy: 0.7390
Epoch 40/100
804/804 [==============================] - 0s 588us/step - loss: 0.5338 - accuracy: 0.7399

Epoch 00040: saving model to optimization_checkpoints\optimization_weights.40.hdf5
Epoch 41/100
804/804 [==============================] - 0s 595us/step - loss: 0.5339 - accuracy: 0.7399
Epoch 42/100
804/804 [==============================] - 0s 603us/step - loss: 0.5336 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 0s 580us/step - loss: 0.5338 - accuracy: 0.7407
Epoch 44/100
804/804 [==============================] - 0s 582us/step - loss: 0.5335 - accuracy: 0.7399
Epoch 45/100
804/804 [==============================] - 0s 584us/step - loss: 0.5333 - accuracy: 0.7401

Epoch 00045: saving model to optimization_checkpoints\optimization_weights.45.hdf5
Epoch 46/100
804/804 [==============================] - 0s 582us/step - loss: 0.5332 - accuracy: 0.7405
Epoch 47/100
804/804 [==============================] - 1s 632us/step - loss: 0.5332 - accuracy: 0.7404
Epoch 48/100
804/804 [==============================] - 0s 570us/step - loss: 0.5334 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 0s 572us/step - loss: 0.5329 - accuracy: 0.7401
Epoch 50/100
804/804 [==============================] - 0s 575us/step - loss: 0.5330 - accuracy: 0.7410

Epoch 00050: saving model to optimization_checkpoints\optimization_weights.50.hdf5
Epoch 51/100
804/804 [==============================] - 0s 592us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 0s 595us/step - loss: 0.5322 - accuracy: 0.7401
Epoch 53/100
804/804 [==============================] - 0s 587us/step - loss: 0.5323 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 0s 589us/step - loss: 0.5323 - accuracy: 0.7411
Epoch 55/100
804/804 [==============================] - 0s 576us/step - loss: 0.5323 - accuracy: 0.7403

Epoch 00055: saving model to optimization_checkpoints\optimization_weights.55.hdf5
Epoch 56/100
804/804 [==============================] - 0s 577us/step - loss: 0.5320 - accuracy: 0.7410
Epoch 57/100
804/804 [==============================] - 0s 570us/step - loss: 0.5316 - accuracy: 0.7410
Epoch 58/100
804/804 [==============================] - 0s 578us/step - loss: 0.5321 - accuracy: 0.7420
Epoch 59/100
804/804 [==============================] - 0s 571us/step - loss: 0.5320 - accuracy: 0.7407
Epoch 60/100
804/804 [==============================] - 0s 583us/step - loss: 0.5319 - accuracy: 0.7405

Epoch 00060: saving model to optimization_checkpoints\optimization_weights.60.hdf5
Epoch 61/100
804/804 [==============================] - 0s 580us/step - loss: 0.5318 - accuracy: 0.7413
Epoch 62/100
804/804 [==============================] - 0s 579us/step - loss: 0.5316 - accuracy: 0.7414
Epoch 63/100
804/804 [==============================] - 0s 607us/step - loss: 0.5321 - accuracy: 0.7402
Epoch 64/100
804/804 [==============================] - 0s 575us/step - loss: 0.5316 - accuracy: 0.7413
Epoch 65/100
804/804 [==============================] - 0s 587us/step - loss: 0.5319 - accuracy: 0.7411

Epoch 00065: saving model to optimization_checkpoints\optimization_weights.65.hdf5
Epoch 66/100
804/804 [==============================] - 0s 608us/step - loss: 0.5314 - accuracy: 0.7411
Epoch 67/100
804/804 [==============================] - 0s 589us/step - loss: 0.5311 - accuracy: 0.7415
Epoch 68/100
804/804 [==============================] - 0s 609us/step - loss: 0.5313 - accuracy: 0.7411
Epoch 69/100

804/804 [==============================] - 1s 643us/step - loss: 0.5315 - accuracy: 0.7412
Epoch 70/100
804/804 [==============================] - 0s 574us/step - loss: 0.5311 - accuracy: 0.7409

Epoch 00070: saving model to optimization_checkpoints\optimization_weights.70.hdf5
Epoch 71/100
804/804 [==============================] - 0s 590us/step - loss: 0.5314 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 0s 582us/step - loss: 0.5308 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 0s 597us/step - loss: 0.5310 - accuracy: 0.7404
Epoch 74/100
804/804 [==============================] - 0s 576us/step - loss: 0.5306 - accuracy: 0.7417
Epoch 75/100
804/804 [==============================] - 1s 623us/step - loss: 0.5307 - accuracy: 0.7416

Epoch 00075: saving model to optimization_checkpoints\optimization_weights.75.hdf5
Epoch 76/100
804/804 [==============================] - 0s 595us/step - loss: 0.5307 - accuracy: 0.7405
Epoch 77/100
804/804 [==============================] - 0s 569us/step - loss: 0.5310 - accuracy: 0.7420
Epoch 78/100
804/804 [==============================] - 0s 592us/step - loss: 0.5309 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 0s 585us/step - loss: 0.5305 - accuracy: 0.7417
Epoch 80/100
804/804 [==============================] - 0s 603us/step - loss: 0.5307 - accuracy: 0.7418

Epoch 00080: saving model to optimization_checkpoints\optimization_weights.80.hdf5
Epoch 81/100
804/804 [==============================] - 0s 588us/step - loss: 0.5307 - accuracy: 0.7414
Epoch 82/100
804/804 [==============================] - 0s 612us/step - loss: 0.5300 - accuracy: 0.7419
Epoch 83/100
804/804 [==============================] - 0s 615us/step - loss: 0.5306 - accuracy: 0.7413
Epoch 84/100
804/804 [==============================] - 0s 589us/step - loss: 0.5302 - accuracy: 0.7414
Epoch 85/100
804/804 [==============================] - 0s 583us/step - loss: 0.5302 - accuracy: 0.7416

Epoch 00085: saving model to optimization_checkpoints\optimization_weights.85.hdf5
Epoch 86/100
804/804 [==============================] - 0s 598us/step - loss: 0.5299 - accuracy: 0.7417
Epoch 87/100
804/804 [==============================] - 0s 586us/step - loss: 0.5299 - accuracy: 0.7415
Epoch 88/100
804/804 [==============================] - 0s 591us/step - loss: 0.5304 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 0s 591us/step - loss: 0.5305 - accuracy: 0.7416
Epoch 90/100
804/804 [==============================] - 0s 601us/step - loss: 0.5296 - accuracy: 0.7414

Epoch 00090: saving model to optimization_checkpoints\optimization_weights.90.hdf5
Epoch 91/100
804/804 [==============================] - 0s 582us/step - loss: 0.5299 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 0s 577us/step - loss: 0.5312 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 0s 574us/step - loss: 0.5298 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 0s 584us/step - loss: 0.5297 - accuracy: 0.7420
Epoch 95/100
804/804 [==============================] - 0s 587us/step - loss: 0.5295 - accuracy: 0.7415

Epoch 00095: saving model to optimization_checkpoints\optimization_weights.95.hdf5
Epoch 96/100
804/804 [==============================] - 0s 587us/step - loss: 0.5294 - accuracy: 0.7418
Epoch 97/100
804/804 [==============================] - 0s 619us/step - loss: 0.5293 - accuracy: 0.7416
Epoch 98/100
804/804 [==============================] - 0s 580us/step - loss: 0.5297 - accuracy: 0.7424
Epoch 99/100
804/804 [==============================] - 0s 605us/step - loss: 0.5295 - accuracy: 0.7413
Epoch 100/100
804/804 [==============================] - 0s 611us/step - loss: 0.5301 - accuracy: 0.7416

Epoch 00100: saving model to optimization_checkpoints\optimization_weights.100.hdf5

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5661 - accuracy: 0.7361
Loss: 0.5660844445228577, Accuracy: 0.736093282699585

In [21]:
# Saving the entire model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')